/* Reset básico e estilos globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}

header {
    background-color: #391515;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}

section {
    padding: 40px 0;
}

section h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
}

section p {
    font-size: 1.2em;
    line-height: 1.5;
    margin-bottom: 20px;
}

section ul {
    font-size: 1.2em;
    line-height: 1.5;
}

footer {
    background-color: #391515;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
